<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LibraryManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="row px-4 navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="col container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LibMS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    @{
                        var currentUser = User;
                        if (currentUser.Identity != null && currentUser.Identity.IsAuthenticated)
                        {
                            if (currentUser.IsInRole("Admin"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserList">Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="BookCategory" asp-action="BookCategoryList">Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="BookList">Books</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Translatable" asp-action="TranslatableList">Translatables</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Language" asp-action="LanguageList">Languages</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="LogOut">Logout</a>
                                    </li>
                            }
                            else if (currentUser.IsInRole("Librarian"))
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="BookCategory" asp-action="BookCategoryList">Book Categories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="BookList">Book</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="LogOut">Logout</a>
                                    </li>
                            }
                            else
                            {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="LogOut">Logout</a>
                                    </li>
                            }
                        }
                    }
                    <ul/>
                </div>
            </div>
            @if (currentUser.Identity != null && currentUser.Identity.IsAuthenticated)
            {
                <div class="col d-flex justify-content-end">
                    <a id="toggleNotification">
                        <img id="toggleNotificationIcon" src="~/images/ui-icons/notification.png" width="30px" />
                    </a>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        @Html.Partial("_Notification")
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - LibMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
