@model LibraryManagementSystem.ViewModels.BookCategoryViweModels.UpdateBookCategoryViewModel;
@{
    ViewBag.Title = "Update Book Category";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Book Category</title>
</head>
<body>
    <form class="auth-form" asp-controller="BookCategory" asp-action="Update" method="post">
        <h1> Update Book Category </h1>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" placeholder="Name" value="@Model.Name" required />
        </div>
        <div class="auth-button">
            <button class="btn btn-primary" type="submit">Update</button>
            <a class="btn btn-secondary" asp-controller="BookCategory" asp-action="BookCategoryList">Book Categories</a>
        </div>
        @if (ViewData["ValidationMessage"] != null)
        {
            <br />
            <div class="validation-message">@ViewData["ValidationMessage"]</div>
        }
        

    </form>
</body>
</html>
