@model LibraryManagementSystem.ViewModels.LanguageViewModels.UpdateLanguageViewModel
@{
    ViewBag.Title = "Update Language";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Language</title>
</head>
<body>
    <form class="auth-form" asp-controller="Language" asp-action="Update" method="post">
        <h1>Update Language</h1>
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" name="Name" placeholder="Name" value="@Model.Name" required />
        </div>
        <div class="form-group">
            <label for="ShortName">ShortName</label>
            <input type="text" name="ShortName" placeholder="ShortName" value="@Model.ShortName" required />
        </div>
        <div class="auth-button">
            <button class="btn btn-primary" type="submit">Update</button>
            <a class="btn btn-secondary" asp-controller="Language" asp-action="LanguageList">Languages</a>
        </div>
        @if (ViewData["ValidationMessage"] != null)
        {
            <br />
            <div class="validation-message">@ViewData["ValidationMessage"]</div>
        }

    </form>
</body>
</html>
